/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.container {
  color: white;
  font-size: 3rem;
  background-color: #303030;
}

.fixed {
  position: fixed;
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-1 {
  height: 120vh;
}

.c-2 {
  background-color: blue;
  height: 40rem;
}

.inSight {
  animation: animate 10s ease-in-out forwards;
}

@keyframes animate {
  0% {
    overflow-x: hidden;
    opacity: 0.5;
    position: relative;
    left: 0;
  }

  100% {
    transition: ease-in-out;
    position: relative;
    left: 40vw;
    opacity: 1;
  }
}
